*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #F5ECE5;
    margin: 0;
    min-height: 100vh; /* Mindstehøjde 100% af viewport-højden */
    display: flex;
    flex-direction: column;
}

/*Navbar begynder her */ 
nav {
    background-color: #8F7650;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    
}

.logo-img {
    width: 200px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   list-style: none;

}

nav ul li a {
    color: white;
    font-size: 25px;
    font-family: 'Georama', sans-serif ;
}


.checkbtn {
    position: absolute;
    z-index: 1000;
    right: 50px;
    line-height: 200px;
    font-size: 50px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}


ul li ul.dropdown {
    display: flex;
    flex-direction: column;
    background: #8F7650;
    font-family: 'Georama', sans-serif;
    text-align: center;
    width: auto;
    position: absolute;
    z-index: 1000;
    display: none;
    line-height: 75px;
    padding: 10px;



}

ul li ul.dropdown a {
    font-size: 25px;
}

ul li ul.dropdown li {
    white-space: nowrap; /* Forhindrer linjeskift */
}


ul li a:hover {
    color:black;

}

ul li:hover ul.dropdown {
    display: flex;
     
}


/* Header begynder 
her */
/* Sætter mit billede til relativ */ 

h1 {
    font-size: 4vw;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Young Serif', serif;
    margin-top: 2vw;
    align-items: center;
    display: flex;
    justify-content: center; /* Centrer vandret */
    
}
.billede-container {
    position: relative;
}

/* Sætter mit overlay tekst til absolute så det kan komme ovenpå billedet. */ 
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    text-align: center;
    font-family:'Calistoga', serif;
 
}

/* Styler mit forside billede, så det fylder hele skærmen, samt sætter højden til auto så det forbliver i billedets oprindelige størrelse */
.forside-billede {
    width: 100%;
    height: 40vw;
}

/* Styler min overlay cirkel. Både størrelse, placering og farve. */ 
.overlay-circle {
    position: absolute;
    bottom: -6vw;
    right: 8vw;
    width: 13vw;
    height: 13vw;
    background-color: #C2B59B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styler teksten i cirkel, sætter farven til lys grøn, ændre størrelsen på skriften samt at teksten skal være i midten. */
.circle-text {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 3vw;
    font-family: 'Young Serif', serif;
}


/* Article begynder her */ 
/* Ændre tekst størrelsen til 1.1rem. Derefter ændre jeg margin left til 2.5rem så teksten rykked ind. Det samme modsat. */
h2 {
    font-size: 4vw;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Young Serif', serif;
    margin-top: 2vw;
    align-items: center;
    display: flex;
    justify-content: center; /* Centrer vandret */
    
    

}

/* Ændre tekst størrelsen samt ændre margin. Så det er ens med overskfiten */
.article-tekst {
    position: absolute;
    top: 75vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Young Serif', serif;
    font-weight: bolder;
    width: 70%;
    margin:  auto 30px;
}



/* Main begynder her */ 
main {
    background-color: #F5ECE5;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}
.image-item {
    text-align: center; /* Centrer tekst under billedet */
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
}
.image-item img {
    max-width: 100%;
    height: auto;
}
.image-item p {
    margin-top: -20px; /* Juster dette efter behov for at tilpasse afstanden mellem billede og tekst */
    font-size: 25px; /* Juster dette efter behov for at tilpasse tekstens størrelse */
    font-family: 'Georama', sans-serif ;
    font-weight: bolder;
    
}
.image-item:hover {
    transform: scale(1.2);
    opacity: 0.9;
    color: black;
    
}



/* Section begynder her */
section {
    margin-top: 10vw;
}


ul.afhentning {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    font-family: 'PT Serif', serif;
    margin-top: -100px;
    justify-content: center;
}

ul.afhentning li {
    margin: 10px 15vw; /* Juster dette efter behov for at give plads mellem knapperne */
   
}

.bestil-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8F7650;
    color: #000;
    border-radius: 8vw;
    width: 20vw;
    height: 5vw;
    cursor: pointer;
    text-align: left;
    border: none;
    font-size: 3vw;
    font-family: 'PT Serif', serif;
    text-transform: none;
    color: white;
    background-color: #C2B59B;

}



.bestil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}


.bestil-container button {
    font-size: 20px;
}

/* Styling af footer */
.footer {

    background-color: #8F7650;
    padding: 40px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    width: 100%;
}

.social {
    margin-bottom: 30px;
    color: white;
}

.social a {
    font-size: 24px;
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
}


.social i {
    line-height: 35px;

}
.social a:hover {
    color: black;
    opacity: 0.9;
    transform: scale(1.2);


}

.footer ul {
    list-style: none;
    font-size: 25px;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin: 0 50px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
    font-size: 18px;
    font-family: 'PT Serif';

}

.footer ul li a:hover {
    opacity: 1;
    color: black;
    transform: scale(1.2);

}

.footer-content {
    margin-top: 20px;
}

.footer-content p {
    margin-bottom: 2vw;
    font-family:'PT Serif' ;
    color: white;
}

.footer-button {
    padding: 10px 20px;
    width: 8vw;
    font-size: 16px;
    background-color: #C2B59B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 8vw;
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
    font-family:'PT Serif' ;

}

.footer-button:hover {
    color: black;
}

/* Første breakpoint. Her har jeg taget udgangspunkt i en iphone 15 som har målene 393px * 852px. */
/* Responsive adjustments */
@media screen and (max-width:393px) {

    h2 {
        font-size: 4vw;
        font-weight: lighter;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Young Serif', serif;
        margin-top: -10vw;
        align-items: center;
        display: flex;
        justify-content: center; /* Centrer vandret */
        
        
    
    }

    .article-tekst {
        position: absolute;
        top: 75vw;
        left: 43%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 1.5vw;
        text-align: center;
        font-family: 'Young Serif', serif;
        font-weight: bolder;
        width: 70%;
        line-height: 1.5;
        margin:  auto 30px;
    }

    .forside-billede {
        margin-top: -15px;
    }
        .footer {
            padding: 20px; 
            height: auto; 
            margin: 0 0;
        }
    
        .footer ul {
            text-align: center;
        }
    
        .footer ul li {
            display: block;
            margin: 10px 0;
        }
    
    section {
        margin-top: 0;
    }

    .overlay-circle {
        margin-top: -15px;
    }

    .overlay-text {
        margin-top: -15px;
    }

    .container {
        padding: 0;
    }

    .image-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        flex-direction: column;
        max-width: fit-content;
    
    }

    ul.afhentning {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 3vw;
        font-family: 'PT Serif', serif;
        margin-top: -35vw;

   
    }
    

/* Sætter mine elementer til at være lodret, samt rykkes ind i midten */ 
    .row {
        flex-direction: column;
        align-items: center;
    }

}

.footer-button {
    padding: 15px 20px;
    width: 30vw;
    font-size: 14px;
    background-color: #C2B59B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 8vw;
    transition: transform 0.3s, opacity 0.3s, color 0.3s;
    font-family:'PT Serif' ;
    text-align: center;

}


    /* Breakpoint for Ipad skærmstørrelse. Som har målene 1024px * 1366px */ 
    @media screen and (min-width: 394px) and (max-width: 1024px) {
    

    /* Ændre på margin her*/ 
    .afhentning {
        margin: 2vw;
    }
    .h3 {
        margin: 7vw;
    }

    .afhentning-section {
        display: flex;
        justify-content: space-between;
        
    }

    ul.afhentning {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2vw;
        font-family: 'PT Serif', serif;
    }

    
    .bestil-container {
        display: flex;
        margin-top: 10px;
        align-items: center;
       
    }

    }


    /* Breakpoint for Macbook Pro 12-inch skærmstørrelse. Som har målene 2304px * 1310px */ 
    @media screen and (min-width: 1025px) and (max-width: 2304px) {
    
   

    /* Ændre på margin her*/ 

    .afhentning-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul.afhentning {
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 1.5vw;
        font-family: 'PT Serif', serif;
    }
    
    .bestil-container {
        display: flex;
        flex-direction: column;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }




    /* Sidste breakpoint, for skærmstørrelser over 2304px */ 
    @media screen and (min-width: 2305px) {



    .afhentning {
        margin: 2vw;
    }
    .h3 {
        margin-top: 15vw;
    }

    .afhentning-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul.afhentning {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.5vw;
        font-family: 'Calistoga', serif;
    }
    
    .bestil-container {
        display: flex;
        flex-direction: row;
    }

     
    }  
    
    @media screen and (max-width:950px) {
        
        .checkbtn{
            display: block; 
        }
        .navbar-ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background:#8F7650;
            top: 75px;
            right: -100%;
            text-align: center;
            transition: all .5s;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            z-index: 2
        }

        nav a:hover {
            transform: scale(1.2);
          }
          
        
        nav ul li a {
            font-size: 20px;
            display: block;
            
        }
        a:hover, a.active {
            background: none;
            color: black;
        } 
        #check:checked ~ul {
        right: 0
        }

        .dropdownlogo {
            display: none;
        }
    }
